/* Custom CSS for action circle buttons for creamy */

.circle-button{
    position: fixed;
    width: 55px;
    height: 55px;
    border-radius: 55.5px;
    color: white;
    padding: 22px;
    box-shadow: 1px 1px 3px #000000;
    z-index: 1000;
    right: 24px;
    /*bottom: 45px;*/
    bottom: 20px;
}

.circle-button a{
    color: #fff;
}


.fab-div-area{
    display:none;
    border-radius:auto;
    position: fixed;
    bottom: 45px;
    right: 24px;
    /* z-index: 999999; */
}

.fab-div-item{
    width: 55px;
    height: 55px;
    border-radius: 55.5px;
    color: white;
    background-color: #333;
    padding: 22px;
    box-shadow: 3px 3px 5px #888888;
    z-index: 5;
}

.fab-ul{
    min-height: 90px;
}

.li-style{
    list-style:none;
    margin: 0.000000001px 0;
}

/* Theme Colors */
/* Black */
.skin-black{
    background-color: #2a2a2a;
}

.skin-black:hover,
.skin-black:focus{
    background-color: #fff;
   /* cursor:pointer;*/
}

/* Blue */
.skin-blue{
    background-color: #3c8dbc;
}

.skin-blue:hover,
.skin-blue:focus{
    background-color: #50BBFA;
    /* cursor:pointer; */
}

/* Green */
.skin-green{
    background-color: #00a65a;
}

.skin-green:hover,
.skin-green:focus{
    background-color: #00FC89;
    /*cursor:pointer;*/
}

/* Minimalist */
.skin-minimalist{
    background-color: #ddd;
}

.skin-minimalist:hover,
.skin-minimalist:focus{
    background-color: #fff;
    cursor:pointer;
}

/* Purple */
.skin-purple{
    background-color: #8680EB;
}

.skin-purple:hover,
.skin-purple:focus{
    background-color: #605ca8;
    cursor:pointer;
}

/* Red */
.skin-red{
    background-color: #dd4b39;
}

.skin-red:hover,
.skin-red:focus{
    background-color: #FC5641;
    /*cursor:pointer;*/
}

/* Yellow */
.skin-yellow{
    background-color: #f39c12;
}

.skin-yellow:hover,
.skin-yellow:focus{
    background-color: #FFA413;
    /*cursor:pointer;*/
}
