			//if blind mode == y
			
			.btn:focus{
				background: yellow;
			}

			/* Topbar */

			.main-header>.navbar{
				min-height: 60px;
			}

			label#hash-home{
				position: absolute!important;
				bottom: 0;
				font-size: 10pt;
			}
			
			#topbar-callbacks{
				width: 130px;
			}

			#topbar-callbacks a.dropdown-toggle{
				padding-left: 35px!important;
				font-size	
			}
			
			#topbar-callbacks a.dropdown-toggle i.fa-phone-square:before{
				font-size: 20pt!important;
			}
			
			#topbar-callbacks a.dropdown-toggle span:nth-of-type(2){
				font-size: 16pt;
			}

			#topbar-callbacks a.dropdown-toggle span.label.label-primary{
				right: 60px!important;
			}
			
			ul.nav.navbar-nav li:nth-of-type(3)>a.hidden-xs{
				padding-bottom: 4px!important;
			}
			/* header */
			.content-wrapper > .content-heading{
				margin-top: 10px!important;
			}

                        li#topbar-callbacks i.fa, 
			li.messages-menu i.fa, 
			li i.fa.fa-cogs{
                                font-size: 20pt;
                        }

                        /* Sidebar */
                        ul.control-sidebar-tabs i.fa{
                                font-size: 20pt;
                        }

			ul.nav.nav-tabs.nav-justified.control-sidebar-tabs{
                                margin-top: 0px!important;
                        }

			aside.control-sidebar.control-sidebar-dark.control-sidebar-open{
				padding-top: 60px!important;
			}
		
			div#MainStatusSpan{
				position: static!important;
				font-weight: 700;
			}
	
			/* Dialer */
                        div#go_btn_div i.fa, 
			button#manual-dial-now i.fa{
                                font-size: 20pt;
                        }

			ul#go_agent_manualdial input, 
			ul#go_agent_manualdial button{
				height: 40px!important;
			}
	
			ul#go_agent_manualdial input{
				font-size: 16pt;
			}
		
			/* Dialer */
			span.hash-call-now{
				font-size: 8pt;
				position: absolute;
				left: 8px;
				bottom: -4px;
			}
			
			div#AgentDialPad button{
				min-width: 30%!important;
			}

			/* Tabs */
			ul#agent_tablist > li > a.bb0{
                                color: #000;
                        }

                        ul#agent_tablist > li.active > a.bb0{
				background-color: white!important;
			}
		
				
			/* common styles */
                        section.content-heading{
                                padding: 10px 40px!important;
                                margin-bottom: 0!important;
                        }

                        #agent_tablist li:nth-of-type(1)>a.bb0{
                                background-color: lightgreen;

                        }

                        #agent_tablist li:nth-of-type(2)>a.bb0{
                                background-color: lightblue;

                        }
                        #agent_tablist li:nth-of-type(3)>a.bb0{
                                background-color: lightyellow;
                        }

                        /* Sidebar */

                       		/* profile and exit buttons */
                        ul.control-sidebar-menu:nth-of-type(2) a{
                                padding: 6px 6px!important;
                        }

                        ul.control-sidebar-menu:nth-of-type(2) div.center-block{
                                position: fixed;
                                bottom: 20px;
                                right: 8px;
                        }

			ul#go_agent_logout{
				background: #222d32;
				position: absolute!important;
				padding: 0;
				margin: 0 auto!important;
				bottom: 10px!important;
				left: 2px;
			}

			/* Content */
                        div#cust_avatar{
                                height: 45px!important;
                        }

                        div#cust_avatar div#avatar{
                                height: 45px!important;
                                width: 45px!important;
                                background: url(../img/avatars/default/defaultAvatar.png) 0% 0% / 45px 45px no-repeat content-box!important;
                        }

			.edit-profile-button{
				font-size: 13pt;
				font-weight: bold;
				color: blue;
			}			

			h4#cust_full_name{
				font-family: calibri, arial, verdana, roboto;
                                font-size: 20pt!important;
                                font-weight: bold;
			}

			h4#cust_full_name a:link,
                        h4#cust_full_name a:visited,
                        h4#cust_full_name a:hover,
                        h4#cust_full_name a:active{
				color: white;
			}

			#agent_tablist a.bb0,
			#popup-hotkeys .panel-heading,
			#select-campaign h4.modal-title{
				font-family: arial, verdana, roboto;
				font-size: 16pt!important;
				font-weight: bold;
			}

                        span#cust_number,
			.mda-form-control,
			textarea#comments,
			div#ScriptContents,
			select#country_code,
			#select-campaign label,
			span.select2{
				font-family: arial, verdana, roboto;
                                font-size: 12pt!important;
                                font-weight: bold!important;
				color: #000;
                        }

			span#cust_call_type,
			span#cust_campaign_name{
				float: inherit;
				font-size: 20pt!important;
				font-weight: bold;
			}

			span#cust_call_type span{
				padding: 0 15px;
			}

			#contact_details_form label,
			#gender_form label,
			#comment_form label{
				font-family: arial, verdana, roboto;
                                font-size: 14pt;
                                font-weight: bold;
				opacity: 1;
			}
			
                        input#cust_number{
                                font-size: 16pt!important;
                        }

			#popup-hotkeys div.panel-body,
                        #popup-hotkeys div.text-danger{
                                font-family: arial, verdana, roboto;
                                font-size: 9pt;
                                font-weight: bold;
                        }

			.mda-form-control.disabled, .mda-form-control[disabled]{
				opacity: 1;
			}
	
			select#select_camp{
				margin-top: 10px;
			}

			/* hotkey popup */
			#popup-hotkeys {
                                position: static;
                                top: 0;
                                left: 0;
                                min-width: inherit;
                        }

                        #popup-hotkeys .panel-heading {
                                background-color: #2a2a2a;
                                color: #fff;
                        }

                        #popup-hotkeys .panel-body dl {
                                margin-bottom: 0px;
				font-size: larger;
                        }

			#popup-hotkeys dt.text-primary{
				width: inherit!important;
				padding-right: 10px;
				text-align: left!important;
			}

			#popup-hotkeys dd{
				margin-left: 0;
			}

			#popup-hotkeys .panel-body a:link,
			#popup-hotkeys .panel-body a:visited,
			#popup-hotkeys .panel-body a:hover,
			#popup-hotkeys .panel-body a:active,
			#popup-hotkeys dt.text-primary,
			#popup-hotkeys dd{
				color: #000;
			}

			/* Swal Styles */
			div.sweet-alert h2,
			div.sweet-alert p{
				color: #000;
			}

			 div.sweet-alert p{
				font-weight: 600;
				font-size: 14pt;
                        }

			/* Callbacks */
			#callback-list{
				font-weight: 700;
				color: #000;
			}

			table#callback-list thead tr th,
			div.dataTables_scroll th,
			div#callback-list_length label,
			div#callback-list_filter label,
			div#callback-list_info,
			div#callback-list_paginate ul.pagination a{
				color: #000!important;
			}

			div#callback-list_length label,
			div#callback-list_filter label,
			div#callback-list_info{
				font-weight: 600;
			}

			/* Missed Callbacks */
			#view-missed-callbacks h4.modal-title{
				font-size: 16pt;
				font-weight: 600;
			}

			#view-missed-callbacks #missed-callbacks-content table{
				font-weight: 500;
				color: #000;
			}

			/* Icon Descriptions */
			span.eccs-icon-lock{
				position: absolute;
				right: -99999px;
				text-indent: -99999px;
			}
	
		/* mobile-small */
		@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) {
			.content-wrapper > .content-heading{
				margin-top: 15px!important;
			}

			.content{
                                padding: 5px;
                        }

			.card-body.custom-tabpanel{
				margin: 0;
				padding: 5px;
			}

                        .main-header>.navbar{
                                height: 60px;
                                min-height: 50px;
                        }

			 /* Content */
                        h4#cust_full_name,
                        #agent_tablist a.bb0,
                        .panel-heading,
                        #select-campaign h4.modal-title{
                                font-size: 12pt!important;
                        }
			
                        span#cust_number,
                        .mda-form-control,
                        textarea#comments,
                        div#ScriptContents,
                        select#country_code,
                        #select-campaign label,
                        span.select2{
                                font-size: 9pt!important;
                        }

                        span#cust_call_type,
			span#cust_campaign_name{
                                float: inherit;
                                font-size: 12pt;
                        }

                        #contact_details_form label,
			#gender_form label,
                        #comment_form label{
                                font-size: 11pt;
                        }
			
			a#edit-profile{
				float: none!important;
			}

			input#cust_number{
				width: 100%!important;
			}

			/* Buttons Topbar */
			li#topbar-callbacks i.fa, li.messages-menu i.fa, li i.fa.fa-cogs{
                                font-size: 16pt;
                        }
		
			ul.nav.navbar-nav li:nth-of-type(3)>a.visible-xs{
				padding-bottom: 2px!important;
			}

                        /* Sidebar */
			li#go_nav_btn{
				margin-top: 10px;
			}

                        ul.control-sidebar-tabs i.fa{
                                font-size: 16pt;
                        }

                        aside.control-sidebar.control-sidebar-dark.control-sidebar-open{
                                padding-top: 60px!important;
                        }

                        aside.control-sidebar div.tab-content{
				padding-bottom: 60px;
                        }

			ul.nav.nav-tabs.nav-justified.control-sidebar-tabs{
				margin-top: 60px!important;
			}

			/* Dialer */
			span#for_dtmf{
				display: block;
			}
			ul.control-sidebar-menu:nth-of-type(2) div.center-block{
				left: 8px!important;
			}
			
		}
			  /* mobile-large */
		@media all and (min-width: 361px) and (orientation: portrait) { 
			.content-wrapper > .content-heading{
                                margin-top: 15px!important;
                        }

                        .content{
                                padding: 5px;
                        }

                        .card-body.custom-tabpanel{
                                margin: 0;
                                padding: 5px;
                        }

                        .main-header>.navbar{
                                height: 60px;
                                min-height: 50px;
                        }

 			/* Content */
                        h4#cust_full_name,
                        #agent_tablist a.bb0,
                        .panel-heading,
                        #select-campaign h4.modal-title{
                                font-size: 13pt!important;
                        }

                        span#cust_number,
                        .mda-form-control,
                        textarea#comments,
                        div#ScriptContents,
                        select#country_code,
                        #select-campaign label,
                        span.select2{
                                font-size: 9pt!important;
                        }

                        span#cust_call_type,
			span#cust_campaign_name{
                                float:inherit ;
                                font-size: 13pt;
                        }

                        #contact_details_form label,
                        #gender_form label,
                        #comment_form label{
                                font-size: 11pt;
                        }

                        input#cust_number{
                                width: 100%!important;
                        }

                        /* Buttons Topbar */
                        li#topbar-callbacks i.fa, li.messages-menu i.fa, li i.fa.fa-cogs{
                                font-size: 16pt;
                        }

                        ul.nav.navbar-nav li:nth-of-type(3)>a.visible-xs{
                                padding-bottom: 2px!important;
                        }

                        /* Sidebar */
                        ul.control-sidebar-tabs i.fa{
                                font-size: 16pt;
			}

                        aside.control-sidebar.control-sidebar-dark.control-sidebar-open{
                                padding-top: 60px!important;
                        }

                        aside.control-sidebar div.tab-content{
                                padding-bottom: 60px;
                        }

                        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs{
                                margin-top: 60px!important;
                        }

 			ul.control-sidebar-menu:nth-of-type(2) div.center-block{
                                left: 8px!important;
                        }


		}
			  /* mobile-small-landscape */
		@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {
			.content-wrapper > .content-heading{
                                margin-top: 15px!important;
                        }

                        .content{
                                padding: 5px;
                        }

                        .card-body.custom-tabpanel{
                                margin: 0;
                                padding: 5px;
                        }

                        .main-header>.navbar{
                                height: 60px;
                                min-height: 50px;
                        }

                        form#contact_details_form label, form#gender_form label{
                                font-size: 10pt;
                                font-family: arial;
                        }

                        form#contact_details_form input, form#gender_form input{
                                font-size: 13pt;
                                font-family: arial;
                                font-weight: bold;
                        }

                        /* Buttons Topbar */
                        li#topbar-callbacks i.fa, li.messages-menu i.fa, li i.fa.fa-cogs{
                                font-size: 16pt;
                        }

                        ul.nav.navbar-nav li:nth-of-type(3)>a.visible-xs{
                                padding-bottom: 2px!important;
                        }

                        /* Sidebar */
                        ul.control-sidebar-tabs i.fa{
                                font-size: 16pt;
                        }
			
			aside.control-sidebar.control-sidebar-dark.control-sidebar-open{
                                padding-top: 60px!important;
                        }

                        aside.control-sidebar div.tab-content{
                                padding-bottom: 60px;
                        }

                        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs{
                                margin-top: 60px!important;
                        }

                        ul.control-sidebar-menu:nth-of-type(2) div.center-block{
				left: 8px;
                        }

		}
			  /* tablet-small-landscape */
		@media all and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
			section.content-heading{
                                padding: 5px 40px!important;
                                margin-bottom: 0!important;
                        }

			section.content-heading > span{
				font-size: 10pt;
			}

			ol.breadcrumb.hidden-xs.pull-right{
				padding: 0;
			}

                        /* card */
                        div#cust_avatar{
                                height: 30px!important;
                        }

                        div#cust_avatar div#avatar{
                                height: 30px!important;
                                width: 30px!important;
                                background: url(../img/avatars/default/defaultAvatar.png) 0% 0% / 30px 30px no-repeat content-box!important;
                        }

                        div.card-heading.bg-inverse{
                                min-height: 60px!important;
                                padding: 10px!important;
                        }

                        div.card-body.custom-tabpanel{
                                padding-top: 5px;
                        }

                        #agent_tablist a.bb0{
				padding: 5px 10px;
                                font-size: 10pt!important;
                                font-weight: bold;
                        }

                        /* contact info */

                        div#contact_info h4{
                                margin: 0;
                        }

 			/* Content */
                        h4#cust_full_name,
                        #agent_tablist a.bb0,
                        .panel-heading,
                        #select-campaign h4.modal-title{
                                font-size: 13pt!important;
                        }

                        span#cust_number,
                        .mda-form-control,
                        textarea#comments,
                        div#ScriptContents,
                        select#country_code,
                        #select-campaign label,
                        span.select2{
                                font-size: 9pt!important;
                        }

                        span#cust_call_type,
			span#cust_campaign_name{
                                font-size: 13pt;
                        }

                        #contact_details_form label,
                        #gender_form label,
                        #comment_form label{
                                font-size: 11pt;
                        }

                        form#contact_details_form .mda-form-group.label-floating, form#gender_form .mda-form-group.label-floating{
                                padding: 22px 0 5px 0!important;
                        }

                        form#contact_details_form .mda-form-group.label-floating label, form#gender_form .mda-form-group.label-floating label{
                                margin-bottom: 2px;
                        }
		 }
			  /* tablet-large-landscape */
		@media all and (min-width: 961px) and (orientation: landscape) { 
			section.content-heading{
                                padding: 5px 40px!important;
                                margin-bottom: 0!important;
                        }

                        section.content-heading > span{
                                font-size: 20pt;
                        }

                        ol.breadcrumb.hidden-xs.pull-right{
                                padding: 10px 10px 0 0;
                        }

                        /* card */
                        div#cust_avatar{
                                height: 45px!important;
                        }

                        div#cust_avatar div#avatar{
                                height: 50px!important;
                                width: 50px!important;
                                background: url(../img/avatars/default/defaultAvatar.png) 0% 0% / 50px 50px no-repeat content-box!important;
                        }

                        h4#cust_full_name{
                                margin: 0;
                        }

                        div.card-heading.bg-inverse{
                                min-height: 100px!important;
                                padding: 20px!important;
                        }

                        div.card-body.custom-tabpanel{
                                padding-top: 5px;
                        }

                        div.card-body.custom-tabpanel{
                                padding-top: 5px;
                        }

                        #agent_tablist a.bb0{
                                padding: 5px 10px;
                                font-size: 14pt!important;
                                font-weight: bold;
                        }

                        /* contact info */

                        div#contact_info h4{
                                margin: 0;
                        }

 			/* Content */
                        h4#cust_full_name{
				font-size: 18pt!important;
			}

                        span#cust_call_type,
                        span#cust_campaign_name{
                                font-size: 16pt;
                        }

                        #agent_tablist a.bb0,
                        .panel-heading,
                        #select-campaign h4.modal-title{
                                font-size: 18pt!important;
                        }

                        .mda-form-control,
                        textarea#comments,
                        div#ScriptContents,
                        select#country_code,
                        #select-campaign label,
                        span.select2{
                                font-size: 16pt!important;
                        }

                        span#cust_call_type,
			span#cust_campaign_name,
                        span#cust_number,
			input#cust_number,
			label[for="cust_number"]{
                                font-size: 16pt;
                        }

                        #contact_details_form label,
                        #gender_form label,
                        #comment_form label{
                                font-size: 16pt;
                        }

                        form#contact_details_form .mda-form-group.label-floating, form#gender_form .mda-form-group.label-floating{
                                padding: 22px 0 5px 0!important;
                        }

                        form#contact_details_form .mda-form-group.label-floating label, form#gender_form .mda-form-group.label-floating label{
                                margin-bottom: 2px;
                        }
			
			span#select2-country_code-container{
				padding-top: 5px;
			}
			select#select_camp{
				margin-top: 15px;
			}
                        ul.nav.navbar-nav li:nth-of-type(3)>a.hidden-xs{
                                padding-bottom: 4px!important;
                        }
		}
			  /* tablet-small */
		@media all and (min-width: 600px) and (orientation: portrait) {
                        section.content-heading{
                                padding: 5px 40px!important;
                                margin-bottom: 0!important;
                        }

                        section.content-heading > span{
                                font-size: 20pt;
                        }

                        ol.breadcrumb.hidden-xs.pull-right{
                                padding: 10px 10px 0 0;
                        }

                        /* card */
                        div#cust_avatar{
                                height: 45px!important;
                        }

                        div#cust_avatar div#avatar{
                                height: 45px!important;
                                width: 45px!important;
                                background: url(../img/avatars/default/defaultAvatar.png) 0% 0% / 45px 45px no-repeat content-box!important;
                        }

                        h4#cust_full_name{
                                margin: 0;
                        }

                        div.card-heading.bg-inverse{
                                min-height: 80px!important;
                                padding: 20px!important;
                        }

                        div.card-body.custom-tabpanel{
                                padding-top: 5px;
                        }

                        #agent_tablist a.bb0{
                                padding: 5px 10px;
                                font-size: 10pt!important;
                                font-weight: bold;
                        }

                        /* contact info */

                        div#contact_info h4{
                                margin: 0;
                        }

 			/* Content */
                        h4#cust_full_name,
                        #agent_tablist a.bb0,
                        .panel-heading,
                        #select-campaign h4.modal-title{
                                font-size: 13pt!important;
                        }

                        span#cust_number,
                        .mda-form-control,
                        textarea#comments,
                        div#ScriptContents,
                        select#country_code,
                        #select-campaign label,
                        span.select2{
                                font-size: 9pt!important;
                        }

                        span#cust_call_type,
			span#cust_campaign_name{
                                font-size: 13pt;
                        }

                        #contact_details_form label,
                        #gender_form label,
                        #comment_form label{
                                font-size: 11pt;
                        }

                        form#contact_details_form .mda-form-group.label-floating, form#gender_form .mda-form-group.label-floating{
                                padding: 22px 0 5px 0!important;
                        }

                        form#contact_details_form .mda-form-group.label-floating label, form#gender_form .mda-form-group.label-floating label{
                                margin-bottom: 2px;
                        }
		}
			  /* tablet-large */
		@media all and (min-width: 601px) and (max-width: 840px) and (orientation : portrait) {
                        section.content-heading{
                                padding: 5px 40px!important;
                                margin-bottom: 0!important;
                        }

                        section.content-heading > span{
                                font-size: 20pt;
                        }

                        ol.breadcrumb.hidden-xs.pull-right{
                                padding: 10px 10px 0 0;
                        }

                        /* card */
                        div#cust_avatar{
                                height: 45px!important;
                        }

                        div#cust_avatar div#avatar{
                                height: 45px!important;
                                width: 45px!important;
                                background: url(../img/avatars/default/defaultAvatar.png) 0% 0% / 45px 45px no-repeat content-box!important;
                        }

                        h4#cust_full_name{
                                margin: 0;
                        }

                        div.card-heading.bg-inverse{
                                min-height: 80px!important;
                                padding: 20px!important;
                        }

                        div.card-body.custom-tabpanel{
                                padding-top: 5px;
                        }

                        div.card-body.custom-tabpanel{
                                padding-top: 5px;
                        }

                        #agent_tablist a.bb0{
                                padding: 5px 10px;
                                font-size: 14pt!important;
                                font-weight: bold;
                        }

                        /* contact info */

                        div#contact_info h4{
                                margin: 0;
                        }

 			/* Content */
                        h4#cust_full_name,
                        #agent_tablist a.bb0,
                        .panel-heading,
                        #select-campaign h4.modal-title{
                                font-size: 13pt!important;
                        }

                        span#cust_number,
                        .mda-form-control,
                        textarea#comments,
                        div#ScriptContents,
                        select#country_code,
                        #select-campaign label,
                        span.select2{
                                font-size: 9pt!important;
                        }

                        span#cust_call_type,
			span#cust_campaign_name{
                                font-size: 13pt;
                        }

                        #contact_details_form label,
                        #gender_form label,
                        #comment_form label{
                                font-size: 11pt;
                        }

                        form#contact_details_form .mda-form-group.label-floating, form#gender_form .mda-form-group.label-floating{
                                padding: 22px 0 5px 0!important;
                        }

                        form#contact_details_form .mda-form-group.label-floating label, form#gender_form .mda-form-group.label-floating label{
                                margin-bottom: 2px;
                        }


                        /* Sidebar */
                        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs{
                                margin-top: 60px!important;
                        }
		}

			  /* desktop-x-small-landscape */
			@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) { }
			  /* desktop-x-small */
			@media all and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4/3) { }
			  /* desktop-small-landscape */
			@media all and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) { }
			  /* desktop-small */
			@media all and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3) { }
			  /* desktop-medium-landscape */
		@media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) { }
			  /* desktop-medium */
		@media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3) { }

			  /* desktop-large */
  		@media all and (min-width: 1281px) and (max-width: 1600px) { 
			section.content-heading{
                                padding: 10px 40px!important;
                                margin-bottom: 0!important;
                        }
                        /* card */

                        h4#cust_full_name{
                                margin: 0;
                        }

                        div.card-heading.bg-inverse{
                                min-height: 50px!important;
                                padding: 10px!important;
                        }

                        div.card-body.custom-tabpanel{
                                padding-top: 5px;
                        }

                        /* contact info */

                        div#contact_info h4{
                                margin: 0;
                        }
			
 			/* Content 
                        h4#cust_full_name,
                        #agent_tablist a.bb0,
                        .panel-heading,
                        #select-campaign h4.modal-title{
                                font-size: 16pt!important;
                        }

                        .mda-form-control,
                        textarea#comments,
                        div#ScriptContents,
                        select#country_code,
                        #select-campaign label,
                        span.select2{
                                font-size: 13pt!important;
                        }
			
			span#cust_number{
                                font-size: 15pt!important;
                        }

                        span#cust_call_type{
                                font-size: 15pt;
                        }

                        #contact_details_form label,
                        #gender_form label,
                        #comment_form label{
                                font-size: 13pt;
                        }
			*/
                        form#contact_details_form .mda-form-group.label-floating, form#gender_form .mda-form-group.label-floating{
                                padding: 22px 0 10px 0!important;
                        }
		}
			  /* desktop-xlarge */
  		@media all and (min-width: 1601px) and (max-width: 1920px) { }

			.nav a.dropdown-toggle{
				height: 60px;
			}
